.row
  .col-md-12
    %h1 Listing <%= plural_table_name %>

    %table.table.table-striped.table-condensed
      %thead
        %tr
<% for attribute in attributes -%>
          %th <%= attribute.human_name %>
<% end -%>
          %th show
          %th edit
          %th destroy
      %tbody
        - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
          %tr
<% for attribute in attributes -%>
            %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
            %td= link_to 'Show', <%= singular_table_name %>
            %td= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
            %td= link_to 'Destroy', <%= singular_table_name %>, {method: :delete, confirm: 'Are you sure?'}

.row
  %br
  .col-md-2
    %br
    = link_to new_<%= singular_table_name %>_path, {class: "btn btn-success"} do
      New <%= human_name %>

  .col-md-8
    = will_paginate @<%= plural_table_name %>, renderer: BootstrapPagination::Rails, class: "pagination pagination-centered"
